$blue: rgb(0,136,206);
$darkgradientblue: rgb(0,125,188);
$lightblue: rgb(135,206,250);
//$darkblue: rgb(0,0,128);
$darkblue:rgb(50,120,250);
$mediumblue: #1E90FF;
$white: #F5F5F5;
$inputblue: #4BAFE7;
//$submitblue: #0289CF;
$submitblue: #249BDA;
$letters: rgb(204,215,219);
$hueso: #F1F3F5;
$green: #4C9689;
$darkgreen: #2E8B57;
//$darkletters: rgb(0,0,139);



.gradient{
  //background-color: $mediumblue;
  //background-color: $blue;
  background-image:
    linear-gradient(
      $blue, $lightblue
    );
  //font-family: Sigmar One, sans-serif;
}

main.container{

  width: 100%;
  //margin-left: 10%;
  //margin-right: 10%;
  margin-bottom: 14em;
  margin-top: 1em;
}
div.main-title{
  position: relative;
  h1{
    color: $white;
    font-size: 2.6em;
    font-family: Poiret One;
    font-weight: bolder;
    text-align: center;
    margin-top: 3em;
  }
}
.big-s{
  position: relative;
  margin-top: 5%;
  color: $white;
  font-family: Sigmar One;
  font-weight: 500;
  font-size: 8em;
  text-align: center;
  margin-bottom: 50px;
}

.button-sign{
  button{
    width: 104%;
    margin-left: -7%;
    //margin-right: 40%;
    padding: 10px 5px;
    background-color: $submitblue;
    border-radius: 10px;
    border: 0.95px solid $submitblue;
    font-size: 16px;
    //font-weight: lighter;
    font-weight: 200;
    letter-spacing:1px;
    color: $white;
    //opacity: 0.5;
    //box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  }
  button:hover{
    background-color: $white;
    //color: rgb(30,160,230);
    border: 1px solid $white;
    color: $darkblue
  }
}

.sign-form, .sign-form2{
  display: none;
  position: relative;
  //height: 500px;
  width: 104%;
  margin-top: 16em;
  //box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  input, button{
    display: block;
    width: 85%;
    //border-radius: 5px;
    //margin-left: 30%;
    //margin-right: 30%;
    //text-align: center;
    font-size: 16px;
    margin-left: 22px;
    outline: none;

  }
  input{
    //background-color: black;
    background-color: $inputblue;
    border: solid $inputblue 1px;
    color: $white;
    margin-top: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    //font-weight: 200;
    &.username{
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }


  }
  :placeholder-shown{
    color: $letters;
    font-weight: 200;
  }
  ::-webkit-input-placeholder {
    color: $letters;
    font-weight: 200;
    letter-spacing: 1px;
  }
  button{
    text-align: center;
    background-color: $submitblue;
    border: solid $submitblue 1px;
    color: $white;
    margin-top: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    //box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);



  }

}


 //MOBILE
@media (max-width: 567px) {

  div.button-sign{
    button{
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }
  }


}


//TABLET
@media (max-width: 1024px) and (min-width: 568px){

  main.container{
    margin-top: 20em;
  }

  div.button-sign{
    button{
      width: 50%;
      margin-left: 25%;
      margin-right: 25%;
    }
  }

}
