





.container2{
  width: 100%;

}
.user-name{
  width: 80%;
  font-family: Poiret One;
  font-weight: bolder;
  margin: 150px 10% 0px 10%;
  color: $lightblue;
  font-size: 5em;
  text-align: center;
}

.user-pic{
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}
.fa-user{
  text-align: center;
  font-size: 10em;
  color: $lightblue;
  margin: 40px 10% 120px 10%;
}

.icons-nav-down{
  //margin-top: 30px;
  //margin-bottom: 10px;
  font-size: 3em;
  margin: 30px 10px 10px 10px;

}
.fa-home, .fa-video-camera, .fa-weixin, .fa-at, .fa-bars{
  color: $white;
  margin-left: 10px;
  margin-right: 10px;
}
